@import './variables';

label {
  font-weight: bold;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pageContainer {
  padding-top: calc(3 * $logo-margin-L + $log-size-L);
  position: absolute;
}
.modal-body {
  width: 40%;
}

.modal-message-text {
  text-align: center;
  margin-top: 50px;
}
