@import './styles/variables.scss';
@import './styles/pages.scss';
@import './Components/CustomModal/customModal.scss';
@import './Components/CustomPagination/customPagination.scss';

button,
.button {
  cursor: pointer;
}
.errorMessage {
  color: $color-tertiary;
  font-weight: 900;
  font-size: 0.8rem;
}

// .pageWrapper {
//   z-index: 0;
// }
#root {
  color: $color-secondary;
}
