@import '../../styles/sass/variables.scss';

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(2 * $logo-margin-L + $log-size-L);
}

.header-nav-section {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: $logo-margin-L;
  left: $logo-margin-L;
}
