@import '../../styles/variables';

// .modal-bg {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   //display: flex;
//   z-index: 10;
// }
.modal-body {
  padding: 10%;
}
// .hidden {
//   display: none;
// }

// .modal-btn {
//   cursor: pointer;
// }
.modal-body-style {
  background-color: $color-tertiary;
  border-radius: 50px;
  // margin: auto;
  // opacity: 1;
}

// .modal-background-style {
//   background-color: rgba(84, 197, 222, 0.4);
// }
