.modal-body {
  width: 40%;
  height: 40%;
  position: relative;
}

.modal-body-style {
  background-color: darken(#4ce09d, 35%);
  border-radius: 30px;
  color: white;
}

.modal-btn {
  border: 2px solid white;
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-message {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-message-headline {
  border-bottom: 1px solid white;
  height: 50px;
  margin-top: 12px;
}
.modal-message-text {
  margin-top: 10%;
}
