@import '../../styles/sass/variables.scss';
.modal-body {
  padding: 10%;
  // display: flex;
  // width: 60%;
  // height: 40%;
  border: 2px red solid;
  margin: auto;
}

.modal-body-style {
  background-color: $color-tertiary;
  border-radius: 50px;
  color: white;
}

.modal-btn {
  border: 1px solid white;
  padding: 4px;
  border-radius: 8px;
  position: relative;
  top: 0;
}
