@import './variables';

label {
  font-weight: bold;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // padding-top: calc($logo-margin-L + $log-size-L);
}
.pageContainer {
  //min-height: 100%;
  padding-top: calc(3 * $logo-margin-L + $log-size-L);
  position: absolute;
}
