h1 {
  font-size: 4rem;
  font-weight: bold;
  // vertical-align: middle;
  //font-style: italic;
  //text-decoration: underline;
  //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2px;
}
