h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -10px;

  // vertical-align: middle;
  //font-style: italic;
  //text-decoration: underline;
  //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 2px;
}
