.tableWrapper {
  display: flex;
  flex-direction: column;
}

.tableHeader-wrapper {
  display: flex;
  flex-direction: row;
}

.tableFooter-wrapper {
  display: flex;
  justify-content: space-between;
}

.tableInfo {
  display: flex;
}
.table-footer-nav {
  display: flex;
}

#rows-select {
  margin: 0px 5px;
}
