.tableWrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.tableHeader-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableFooter-wrapper {
  display: flex;
  justify-content: space-between;
}

.tableInfo {
  display: flex;
}
.table-footer-nav {
  display: flex;
}

#rows-select {
  margin: 0px 5px;
}

.bold {
  font-weight: bolder;
}

.button,
.dots {
  margin: 0px 2px;
}
